<% content_for :title, "Fee: #{@fee.title}" %>

<div class="row">
  <h1>Fee</h1>
</div>

<div class="row">
  <strong>Title:</strong>
  <%= @fee.title %>
</div>

<% if @fee.banded_fees.blank? %>
  <div class="row">
    <strong>Amount:</strong>
    £<%= @fee.amount %>
  </div>
<% else %>
  <div class="row">
    <%= form_tag '/', method: :post do %>
    <p>
      Enter the sum claimed: <%= text_field_tag :amount, params[:amount] %>
      <%= submit_tag "Search fees", name: nil %>
    </p>
    <% end %>
  </div>
<% end %>
